# --- DO NOT REMOVE !!! Streamlit Secrets ---
.streamlit/
secrets.toml

# --- Python Clutter ---
.matchmycause/
__pycache__/
*.pyc
.env

# --- OS Specific ---
.DS_Store

# --- Template Reminder ---
!secrets.toml.example
.streamlit/secrets.toml
