# --- Streamlit Secrets ---
.streamlit/

# --- Python Clutter ---
# Ignore the virtual environment folder
.matchmycause/
__pycache__/
*.pyc
.env

# --- OS Specific ---
# Ignore Mac system files
.DS_Store

# --- Template Reminder ---
!secrets.toml.example
