/* Use the format
div[class*=".st-key-..._"]
to reference all widgets with a key containing '..._', eg
key='blueContainer_1' */

/* This removes the invisible header from the top of the page */
[data-testid="stHeader"] {
    display: none !important;
}

.block-container {
    max-width: 100% !important;
    padding: 0 !important;
}

div[class*="st-key-blueContainer_"] {
    background: #3677ff
}
