/* Use .st-key-... to refer to widget with key ... */

/* This removes the invisible header from the top of the page */
[data-testid="stHeader"] {
    display: none !important;
}

.block-container {
    max-width: 100% !important;
    padding: 0 !important;
}

.st-key-logo {
    background: transparent;
    position: fixed;
    z-index: 99999;
}

.st-key-logoCard {
    background: #3677ff;
    position: relative;
    top: -1rem;
}
